// https://paletton.com/#uid=23L160kJS6KvW5fuP8MNdeqCnl7

// $primary1: hsl(222, 85%, 24%);
@use "sass:math";
$pl: 20%;
$ps: -20%;

$primary: hsl(223, 64%, 6%);
$primary1: scale-color(
  $primary,
  $lightness: $pl * math.div(1, 5),
  $saturation: $ps * math.div(1, 5)
);
$primary2: scale-color(
  $primary,
  $lightness: $pl * math.div(2, 5),
  $saturation: $ps * math.div(2, 5)
);
$primary3: scale-color(
  $primary,
  $lightness: $pl * math.div(3, 5),
  $saturation: $ps * math.div(3, 5)
);
$primary4: scale-color(
  $primary,
  $lightness: $pl * math.div(4, 5),
  $saturation: $ps * math.div(4, 5)
);

$cl: 65%;
$cs: -20%;

$complement: complement($primary);
$complement1: scale-color(
  $complement,
  $lightness: $cl * math.div(1, 5),
  $saturation: $cs * math.div(1, 5)
);
$complement2: scale-color(
  $complement,
  $lightness: $cl * math.div(2, 5),
  $saturation: $cs * math.div(2, 5)
);
$complement3: scale-color(
  $complement,
  $lightness: $cl * math.div(3, 5),
  $saturation: $cs * math.div(3, 5)
);
$complement4: scale-color(
  $complement,
  $lightness: $cl * math.div(4, 5),
  $saturation: $cs * math.div(4, 5)
);
$complement5: scale-color(
  $complement,
  $lightness: $cl * 1,
  $saturation: $cs * 1
);

$white: #e9e9e9;

$page-margin: 24px;

$line-stroke: 2px;

$skew: 10deg;

$section-bp: 40%;

%pseudo-init {
  content: "";
  position: absolute;
  inset: 0;
}

@mixin content-media() {
  @media screen and (min-width: 850px) {
    @content;
  }
}
@mixin anim-media() {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}
@mixin pseudo($sel: "before") {
  position: relative;
  &::#{$sel} {
    @extend %pseudo-init;
    @content;
  }
}
@mixin before-after {
  position: relative;
  &::before,
  &::after {
    @extend %pseudo-init;
    @content;
  }
  &::before {
    z-index: -10;
  }
  &::after {
    z-index: -5;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@mixin appear($delay: 0s) {
  @include anim-media {
    animation: 1s $delay appear ease-in-out;
  }
}
