@use "../../styles/var";


.content {
  margin-inline: var.$page-margin;
	* > section + section{
		margin-top: 3em;
	}
}
.main{
	width: 100%;
}
@include var.content-media {
	
	.content{
		height: 100vh;
		* > section + section{
			margin-top: 0;
		}
	}
  .main {
		display: flex;
		gap: 3em;
  }
}